<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="AKIAJ2MILFMGDDEKW7TQ"/>
		<add key="AWSSecretKey" value="secret"/>
    <add key="GoogleAPIKey" value="ABQIAAAAqa_BjTB_D_SHVWJsrIeWhRRWS743pzoFor0knCaaTtP5-QPv6g"/>
    <add key="GoogleAPIKey2" value="ABQIAAAA3YLsuWReK68T3A9YzEcB3hTf5mOGAeSQC_XaO6osD7p4haRutQ"/>
    <add key="GoogleAPIKey3" value="ABQIAAAAHQBAf6IzRvsmEOPO0TmIeBQB4PCwZUvOeb_WSNU4plIHX6fr_A"/>
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="Sql" connectionString="Initial Catalog=ShuffledWeb;Data Source=Localhost\sqlexpress;Integrated Security=SSPI;" />
  </connectionStrings>
</configuration>
